
*{
    box-sizing: border-box;
}

body{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0px;
}



button{
    width: 40%;
    height: 30px;
    background: #5c33bf;
    color: white;
}

.cartones{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;
}

.carton, .carton2{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
    margin: 0px 0px 10px 0px;
}

.carton article, .carton2 article {
    border: 2px solid black;
    width: 20%;
    height: max-content;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 40px;
    background-color: #ffffff;
}

.seleccionado{
    filter: brightness(0.4);
    background-color: #ffffff;
}

.animal img{
    width: 100%;
    height: 63px;
    object-fit: cover;
}

.numero {
    font-size: 15px;
    width: 80%;
}

.nombre {
    font-size: 20px;
    font-weight: 800;
    width: 80%;
    display: flex;
    justify-content: center;
}

.bo-lottery{
    background-image: url(../img/bg-2.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: max-content;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    padding: 40px 20px;
    
}

.bo-cartones{
    background-color: #743cf6;
}

#generarNumeros{
    margin-top: 20px;
}
.he-lottery{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;
}

.main-loteria{
    padding: 20px 100px;
    width: 100%;
    height: max-content;
}

#lotteryResults{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    height: max-content;
}

#lotteryResults img{
    width: 100px;
    height: 100px;
    object-fit: contain;
    margin: 10px 0px;
}

#lotteryImg{
    width: 250px;
    height: 300px;
    border: 3px solid red;
    object-fit: cover;
    display: none;
}